* {
	padding: 0;
	margin: 0;
}

body {
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: rgb(255, 244, 98);
	height: 100px;
	display: flex;
	flex-direction: row;
}

header img {
	height: 75px;
	width: 75px;
}

main {
 flex-direction: row;
 flex-grow: 1;
 background-color: aqua;
}

footer {
	background-color: yellowgreen;
	text-align: left;
}
